.nyc_output/
bin/daemon/
coverage/

cypress/downloads/
cypress/screenshots/
cypress/videos/

data/sessions/

node_modules/

data/*.db
data/*.db-journal

data/config.d.ts
data/config.js
data/config.ts
