.nyc_output/
bin/daemon/
coverage/

cypress/downloads/
cypress/screenshots/
cypress/videos/

data/sessions/

data/*.db
data/*.db-journal

data/config.d.ts
data/config.js
data/config.ts

data/files/imported/*
!data/files/imported/README.md
data/files/uploads/*
!data/files/uploads/README.md

node_modules/
