<%- include('_header'); -%>

<nav class="level is-mobile">
  <div class="level-left">
    <div class="level-item">
      <div class="field has-addons">
        <div class="control">
          <span class="button is-static">
            <i class="fas fa-city" aria-hidden="true"></i>
          </span>
        </div>
        <div class="control">
          <button class="button" type="button">
            (Select Assets)
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <div class="field has-addons">
        <div class="control">
          <span class="button is-static has-tooltip-bottom" data-tooltip="Start Date">
            <i class="fas fa-play" aria-hidden="true"></i>
          </span>
        </div>
        <div class="control">
          <input class="input" id="dashboard--startDate" name="startDate" type="date" required />
        </div>
      </div>
    </div>
    <div class="level-item">
      <div class="field has-addons">
        <div class="control">
          <span class="button is-static">
            <i class="fas fa-stop" aria-hidden="true"></i>
          </span>
        </div>
        <div class="control">
          <input class="input" id="dashboard--endDate" name="endDate" type="date" required />
        </div>
      </div>
    </div>
  </div>
</nav>

<h1 class="title is-1">
  <%= configFunctions.getConfigProperty("application.applicationName") %>
</h1>

<div class="message is-info">
  <p class="message-body">Under Development</p>
</div>

<%- include('_footerA'); -%>

<%- include('_footerB'); -%>