<%- include('_header'); -%>

<h1 class="title is-1">
  Data
</h1>

<div class="message is-info">
  <p class="message-body">Under Development</p>
</div>

<%- include('_footerA'); -%>

<%- include('_footerB'); -%>